{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
	.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
	.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<h1>Hello {{ controller_name }}! ✅</h1>

	This friendly message is coming from:
	<ul>
		<li>Liste de tous les pokémons : <code><a href="{{ path('pokemon_ref_index') }}">Cliquez-ici</a></code></li>
		<li>Mes pokémons : <code><a href="{{ path('pokemons_captures_par_dresseur') }}">Cliquez-ici</a></code></li>
		<li>Connexion : <code><a href="{{ path('app_login') }}">Cliquez-ici</a></code></li>
		<li>Inscription : <code><a href="{{ path('app_register') }}">Cliquez-ici</a></code></li>
	</ul>
</div>
{% endblock %}
